@import url("./../css/meyerreset.css");
@import url("./../font/secularone.css");
* {
  box-sizing: border-box;
}
#versionnote {
  position: absolute;
  width: 101px;
  height: 25px;
  left: 12px;
  top: 13px;
  cursor: pointer;
  font-family: "Secular One";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}
.border-class-1 {
  border: 0.8px solid rgba(0, 0, 0, 1);
}
.border-class-2 {
  border: 1.6px solid rgba(0, 0, 0, 1);
}
.loginrootframe {
  align-items: flex-end;
  background-color: var(--blue-jeans);
  display: flex;
  flex-direction: column;
  height: 576px;
  padding: 38.4px 0;
  width: 1024px;
}
.loginrootframe .auto-flex {
  align-items: flex-end;
  display: flex;
  height: 457px;
  margin-right: 17.07px;
  min-width: 694px;
}
.loginrootframe .bear-svg {
  height: 112px;
  margin-left: 0px;
  width: 111px;
}

.loginrootframe .email {
  height: 17px;
  letter-spacing: 0px;
  margin-left: 3px;
  margin-top: 0px;
  min-height: 17px;
  text-align: center;
  width: 56px;
}
.loginrootframe .heart-svg {
  align-items: flex-start;
  display: flex;
  height: 69px;
  margin-top: 15px;
  overflow: hidden;
  width: 69px;
}
.loginrootframe .information-svg {
  background-size: 100% 100%;
  height: 68px;
  margin-top: 15px;
  width: 68px;
}
.loginrootframe .l-data-entry {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 134px;
  width: 354px;
}
.loginrootframe .login-box-root-frame {
  align-items: flex-end;
  background-color: white;
  border-radius: 6.40000057220459px;
  box-shadow: 4.266666889190674px 4.266666889190674px 2.6666667461395264px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 332px;
  margin-top: 13px;
  min-width: 398px;
  padding: 22.4px 21.3px;
  background-color: #f0f0f0;
}
.loginrootframe .login-content-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 281px;
  width: 354px;
}
.loginrootframe .login-root-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 457px;
  width: 398px;
}
.loginrootframe .login-text-top {
  letter-spacing: 0px;
  min-height: 68px;
  width: 129px;
}
.loginrootframe .my-blog {
  height: 17px;
  letter-spacing: 0px;
  margin-left: 3px;
  margin-top: 0px;
  min-height: 17px;
  text-align: center;
  width: 68px;
}
.loginrootframe .new-ac-svg {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 68px;
  width: 68px;
}
.loginrootframe .overlap-group {
  height: 52px;
  margin-bottom: -0px;
  position: relative;
  width: 132px;
}
.loginrootframe .overlap-group-1 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/602a68eb7247401a83c22cd4/releases/603128ea00488f4e22258d2c/img/vector@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 69px;
  justify-content: flex-end;
  margin-top: -0.37px;
  min-width: 68px;
  padding: 11.8px 10.6px;
}
.loginrootframe .overlap-group1 {
  height: 69px;
  margin-top: -0.37px;
  position: relative;
  width: 68px;
}
.loginrootframe .overlap-group2 {
  height: 41px;
  position: relative;
  width: 40px;
}
.loginrootframe .password-entry {
  background-color: white;
  border: 0;
  font-size: 28px;
  font-family: "Secular One";
  border-radius: 6.40000057220459px;
  box-shadow: -2.266666889190674px 2.266666889190674px 2.6666667461395264px rgba(0, 0, 0, 0.25);
  flex-shrink: 1;
  height: 53px;
  margin-top: 28px;
  padding: 5px 5px;
  resize: none;
  width: 354px;
}
.loginrootframe .reset-svg {
  align-items: flex-start;
  display: flex;
  height: 69px;
  justify-content: center;
  margin-top: 16px;
  overflow: hidden;
  width: 68px;
}
.loginrootframe .side-svg-set {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 5.33px;
  margin-left: 227px;
  min-height: 321px;
  width: 68px;
}
.loginrootframe .sign-in-button {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 103px;
  margin-top: 18px;
  min-width: 133px;
}
.loginrootframe .sign-in-button-1 {
  background-color: white;
  box-shadow: 2.6666667461395264px 2.6666667461395264px 2.133333444595337px rgba(0, 0, 0, 0.25);
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 130px;
}
.loginrootframe .software-license {
  height: 17px;
  letter-spacing: 0px;
  margin-left: 244px;
  margin-top: 0px;
  min-height: 17px;
  text-align: center;
  width: 141px;
}
.loginrootframe .span1 {
  color: rgba(0, 0, 0, 1);
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
}
.loginrootframe .span2 {
  color: rgba(0, 40, 255, 1);
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
}
.loginrootframe .text-sign-in {
  left: 9px;
  letter-spacing: 0px;
  position: absolute;
  top: 0px;
  width: 123px;
}
.loginrootframe .username-entry {
  background-color: white;
  border: 0;
  border-radius: 6.40000057220459px;
  box-shadow: -2.266666889190674px 2.266666889190674px 2.6666667461395264px rgba(0, 0, 0, 0.25);
  font-family: "Secular One";
  font-size: 28px;
  flex-shrink: 1;
  height: 53px;
  padding: 5px 5px;
  resize: none;
  width: 354px;
}
.loginrootframe .vector {
  height: 41px;
  left: 17px;
  position: absolute;
  top: 0px;
  width: 7px;
}
.loginrootframe .vector-1 {
  height: 6px;
  left: 0px;
  position: absolute;
  top: 17px;
  width: 40px;
}
.loginrootframe .vector-2 {
  height: 68px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 68px;
}
.loginrootframe .vector-3 {
  height: 30px;
  left: 31px;
  position: absolute;
  top: 16px;
  width: 6px;
}
.loginrootframe .vector-4 {
  height: 6px;
  left: 32px;
  position: absolute;
  top: 48px;
  width: 6px;
}
.loginrootframe .vector-5 {
  height: 69px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 68px;
}
.loginrootframe .vector-6 {
  height: 30px;
  left: 30px;
  position: absolute;
  top: 16px;
  width: 6px;
}
.loginrootframe .vector-7 {
  height: 7px;
  left: 30px;
  position: absolute;
  top: 48px;
  width: 6px;
}
.loginrootframe .vector-8 {
  height: 41px;
  width: 47px;
}
.secularone-normal-azure-radiance-16px {
  color: var(--azure-radiance);
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.secularone-normal-black-34-1px {
  color: black;
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 34.1px;
  font-style: normal;
  font-weight: 400;
}
.secularone-normal-black-46-9px {
  color: black;
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 46.9px;
  font-style: normal;
  font-weight: 400;
}
.secularone-normal-canary-16px {
  color: var(--canary);
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.secularone-normal-electric-violet-16px {
  color: var(--electric-violet);
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.secularone-normal-hollywood-cerise-16px {
  color: var(--hollywood-cerise);
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.secularone-normal-white-16px {
  color: transparent;
  font-family: "Secular One", Helvetica, Arial, serif;
  font-size: 16px;
}
:root {
  --azure-radiance: rgba(0, 132, 255, 1);
  --blue-jeans: rgba(112, 177, 255, 1);
  --canary: rgba(0, 25, 255, 1);
  --electric-violet: rgba(173, 0, 255, 1);
  --hollywood-cerise: rgba(255, 0, 153, 1);
  --yellow-sunshine: rgba(255, 244, 0, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
